= image_tag @post.image.url(:medium)
%h1= @post.title
%p= @post.address
%p= @post.description
%p= @post.user.name

#comment
	- if @reviews.blank?
		%h3 No reviews just yet, would you like to add the first?
		= link_to "Leave a Review", new_post_review_path(@post)
	- else
		%h2.comment_count= pluralize(@post.reviews.count, "Reviews")
		- @reviews.each do |review|
			.comment
				.star-rating{"data-score" => "#{review.cleanliness}"}
				.star-rating{"data-score" => "#{review.safety}"}
				.star-rating{"data-score" => "#{review.scent}"}
				.star-rating{"data-score" => "#{review.ecofriendliness}"}
				.star-rating{"data-score" => "#{review.ambiance}"}
				%p.content= review.comment
				%p.username= review.user.name


= link_to "Leave a Review", new_post_review_path(@post)


= link_to "Edit", edit_post_path(@post)
= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }
= link_to "Home", root_path

:javascript
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
			}
	});