#post_show
	%h1= @post.title
	%p.username
		Shared by
		= @post.user.email
		about
		= time_ago_in_words(@post.created_at)
	.clearfix
		.post_image_description
			= image_tag @post.image.url(:medium)
			.description= simple_format(@post.address)
			.description= simple_format(@post.description)
		.post_data
			.description= simple_format(@post.address)
			%p.data	
				%i.fa.fa-comments-o
				= pluralize(@post.reviews.count, "Reviews")
			- if @post.user == current_user
				= link_to "Edit", edit_post_path(@post), class: "data"
				= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "data"
			= link_to "Leave Review", new_post_review_path(@post), class: "button"
#comments
	- if @reviews.blank?
		%h3 No reviews just yet, would you like to add the first?
		= link_to "Leave a Review", new_post_review_path(@post)
	- else
		%h2.comment_count= pluralize(@post.reviews.count, "Reviews")
		- @reviews.each do |review|
			.comment
				%p Cleanliness
				.star-rating{"data-score" => "#{review.cleanliness}"}
				%p Safety
				.star-rating{"data-score" => "#{review.safety}"}
				%p Scent
				.star-rating{"data-score" => "#{review.scent}"}
				%p Eco-Friendliness
				.star-rating{"data-score" => "#{review.ecofriendliness}"}
				%p Ambiance
				.star-rating{"data-score" => "#{review.ambiance}"}
				%br/
				%p.content= review.comment
				%p.username= review.user.email
	.clearfix
		= link_to "Leave Review", new_post_review_path(@post), class: "button"


:javascript
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
			}
	});