= simple_form_for([@post, @post.reviews.build]) do |f|
  .field
    = f.label :cleanliness
    %br/
    #cleanliness
  .field
    = f.label :safety
    %br/
    #safety
  .field
    = f.label :scent
    %br/
    #scent
  .field
    = f.label :ecofriendliness
    %br/
    #ecofriendliness
  .field
    = f.label :ambiance
    %br/
    #ambiance
  .field
    = f.label :comment
    %br/
    = f.text_area :comment, placeholder: "Leave comment"
  = f.button :submit, class: "button"

:javascript
  $('#cleanliness').raty({
    path: '/assets',
    scoreName: 'review[cleanliness]'
    });
  $('#safety').raty({
    path: '/assets',
    scoreName: 'review[safety]'
    });
  $('#scent').raty({
    path: '/assets',
    scoreName: 'review[scent]'
    });
  $('#ecofriendliness').raty({
    path: '/assets',
    scoreName: 'review[ecofriendliness]'
    });
  $('#ambiance').raty({
    path: '/assets',
    scoreName: 'review[ambiance]'
    });